<form method="post" action="{{ path('app_telephones_delete', {'id': telephone.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce numéro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ telephone.id) }}">
    <button class="btn btn-danger text-light ms-3 mt-2">Supprimer ce numéro</button>
</form>
