<form method="post" action="{{ path('app_departements_delete', {'id': departement.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce département?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement.id) }}">
    <button class="btn btn-danger text-light ms-3 mt-2">Supprimer ce département</button>
</form>
