{% extends 'base.html.twig' %}

{% block title %}Annuaire Diagnostics - Prophac{% endblock %}


{% block illustration %}
    <div class="departement diagnostics-container">
        <h1>DIAGNOSTICS</h1>
        <p>
            Analyseurs et réactifs pour les analyses médicales et les analyses de
            recherche bio-médicales.
        </p>
        <img class="picto" src="{{asset('assets/img/Picto_Diagno_demi-tons_rgb.png')}}" alt="DIAGNOSTICS" />
  </div>
{% endblock %}

{% block body %}
  <!--sous titre-->
    <div class="container sous-titre">Annuaire diagnostics</div>
<section class="container">
    <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <div class="card card-annuaire my-3">
                        <img src="./img/BlasiusR_5578-640x640.jpg" class="img-fluid" alt="alt-annuaire" />
                        <div class="card-body ">
                            <div class="name d-flex">
                                <img src="./img/name.svg" alt="icon-identite" class="mb-3"><p class="ms-3 d-block"><p><span>Name</span> Firstname</p>
                            </div>
                            <div class="fonction d-flex">
                                <img src="./img/valise.svg" alt="icon-valise" class="mb-3"><p class="ms-3">Fonction</p>
                            </div>
                            <div class="e-mail d-flex">
                                <img src="./img/envelope.svg" alt="icon-envelope" class="mb-3"><a class="ms-3">mail@prophac.lu</a>
                            </div>
                            <div class="telephone d-flex">
                                <img src="./img/telephone-fill.svg" alt="icon-telephone" class="mb-3"><p class="ms-3">+352 482 482 550</p>
                            </div>
                        </div>
                    </div>
                </div>
</section>
{% endblock %}
