{% extends 'base.html.twig' %}
{% block title %}Diagnostics - Prophac{% endblock %}
{% block illustration %}
    <div class="departement diagnostics-container">
        <h1 class="titre-departement">DIAGNOSTICS</h1>
        <p class="sous-titre-departement">
            Analyseurs et réactifs pour les analyses médicales et les analyses de
            recherche bio-médicales.
        </p>
        <img class="picto" src="{{asset('assets/img/Picto_Diagno_demi-tons_rgb.png')}}" alt="Picto DIAGNOSTICS" />
  </div>
{% endblock %}

{% block body %}
  <!--sous titre-->
  <a href="{{path('app_diagnostics.annuaire')}}">Annuaire diagnostics</a>
    <div class="container titre-section">Produits</div>
{% endblock %}