{% extends 'base.html.twig' %}

{% block illustration %}
    <div class="departement diagnostics-container">
        <h1>DIAGNOSTICS</h1>
        <p>
            Analyseurs et réactifs pour les analyses médicales et les analyses de
            recherche bio-médicales.
        </p>
        <img class="picto" src="{{asset('assets/img/Picto_Diagno_demi-tons_rgb.png')}}" alt="DIAGNOSTICS" />
  </div>
{% endblock %}

{% block body %}
  <!--sous titre-->
    <div class="container sous-titre">Produits</div>
{% endblock %}