{% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} Modification du collaborateur {% endblock %}

{% block body %}
    <div class="header-form-admin d-flex justify-content-center mb-5">
        <img class="py-2" src="{{asset('assets/img/form/logo-prophac.svg')}}" alt="logo-prophac-blanc" width="25%">
        <h3 class="text-light py-5 ps-5">Administrateur</h3>
    </div>    
    <div class="container form-admin py-5 mb-5">
        {{ include('admin/collaborateurs/_form.html.twig', {'button_label': 'Valider la mise à jour du collaborateur'}) }}
        <a class="btn btn-warning text-light mt-2" href="{{ path('user.edit.password', {'id': collaborateur.id}) }}">Modifier le mot de passe du collaborateur</a>
        <a class="btn btn-prophac ms-1 mt-2" href="{{ path('app_collaborateurs_index') }}">Retourner sur la liste des collaborateurs</a>
    </div>
{% endblock %}
