{% extends 'admin/accueil.html.twig' %}

{% block title %}Admin - Prophac{% endblock %}

{% block PageTitle %} Modification du mot de passe{% endblock %}

{% block body %}

<div class="header-form-admin d-flex justify-content-center mb-5">
        <img class="py-2" src="{{asset('assets/img/form/logo-prophac.svg')}}" alt="logo-prophac-blanc" width="25%">   
	<div class="container">
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{{ form(form) }}
	</div>
{% endblock %}


