/* CSS des articles posté sur le site puis de ceux qui seront rajouté par les administrateurs */

@font-face {
    font-family:'DIN Offc';
    src: url('font/fonts/DINOffc.eot');
    src: url('font/fonts/DINOffc.eot?#iefix') format('embedded-opentype'),
         url('font/fonts/DINOffc.woff2') format('woff2'),
         url('font/fonts/DINOffc.woff') format('woff'),
         url('font/fonts/DINOffc.ttf')  format('truetype'),
         url('font/fonts/DINOffc.svg#DIN Offc') format('svg');
}

*{
    margin: 0;
    padding:0;
    font-family:'DIN Offc';
}

li{
    list-style:disc;
}


.article{
    list-style: circle;
}

.legende-illustration{
    font-style:italic;
    font-weight: bold;
    font-size: 12px;
    text-align: end;
}

.image-article img{
    width: 500px;
}

@media screen and (max-width: 1000px) {
    .image-article img{
        width: 450px;
    }
  }

  @media screen and (max-width: 780px) {
    .image-article img{
        width: 410px;
    }
  }

  @media screen and (max-width: 500px) {
    .image-article img{
        width: 380px;
    }
  }

  @media screen and (max-width: 430px) {
    .image-article img{
        width: 320px;
    }
  }

  /*Bouton d'accès aux annuaires par département */
.btn-annuaire{
    background-color: rgb(207, 216, 240);
    color: white;
    border-radius: 25px;
    height: 40px;
    color: rgb(0, 51, 160);
    font-size: 18px;
    font-weight: bold;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
  }
  