
/* Fichier css pour les produits des partenaires du site  */

.card-perso{
    background-color: #DFEAF8;
    border: none;
    height: 400px ;
    width: 400px auto;
    box-shadow: rgb(68, 97, 128) 0px 15px 10px -10px;
}
.card-perso img{
    max-height: 300px;
    background-position: center top;
}

.btn-produit{
    background-color: #0032A0;
    color: white;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.btn-produit:hover{
    color: white;
    font-size: 0.9em;
    
}

.sous-titre{
    background-color: #0032A0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 15px -10px;
    margin-top: 30px;
}

.overlay{
    /* on place la texte au dessus de la photo */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0033a0cc; /* couleur du filtre */
    color: white; /* couleur du texte*/
    /* On rempli l'espace souhaité de son parent pour l'affichge de l'overlay*/
    width: 100%;
    height: 75%;
    /* On centre le texte */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(0deg); /*echelle à 0 ce qui permet de reduire la class overlay */
    transition: 1s; /* temps d'animation pour l'apparition du overlay*/
    /* choisir la position du début de l'annimation ( centre , gauche, droite haut-gauche ..)*/
    transform-origin: top middle; /* reglage en % possible voir la doc */
    

}
figcaption p{
    padding: 10px;
    font-size: 0.9rem;
    
}

/* au survol de l'image */
.card:hover .overlay{
    transform: scale(1); /* on redonne la taille normal de la class overlay pur l'affichage de la description du produit*/
}

.image-produit{
    height: 300px;
}


.card-perso:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: rgb(207, 216, 240);
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card-perso:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: rgb(0, 51, 160);
    transform: scaleY(0);
    transition: all 1s;
    transform-origin: bottom
}

.card-perso:hover::after {
    transform: scaleY(1)
}

.logo-partenaire{
    height: 150px;
    width: 150px;
}