/*------------------------ CSS des 4 pages de départements -----------------*/

/* sous titre de section */
.titre-section{
    background-color: #0032A0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 15px -10px;
    margin-top: 30px;
}
.departement{
    height: 55vh !important;
}

@media(max-width: 1000px){
    .departement{
        height: 35vh !important;
    }
}

@media(max-width: 620px){
    .departement{
        height: 25vh !important;
    }
}



/* image de présentation des 4 départements */
.diagnostics-container{ 
    background-image: url("../img/diagnostics.jpg");
    
}

.pharma-container{
    background-image: url("../img/pharma.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position:center;
}

.patient-container{
    background-image: url("../img/diabete.jpeg");
    background-blend-mode:color-burn;
    background-size: cover;
}

.veto-container{
    background-image: url("../img/department-veterinary.jpg");
}

/* image de présentation de l'annuaire complet */
.annuaire-container{
    background-image: url("../img/contact.jpg");
}

/*image de présentation de l'organigramme*/
.organigramme-container{
    background-image: url("../img/organigramme.jpg");
}
/*image de présentation pour la page historique*/
.historique-container{
    background-image: url("../img/organigramme.jpg");
    background-size: cover;
}

/*image de présentation pour la page iso-9001*/
.iso-container{
    background-image: url("../img/organigramme.jpg");
    background-size:cover;
    
}
.contact-container{
    background-image: url("../img/contact.jpg");
}

/* bloc de présentation des 4 départements */
.diagnostics-container, .pharma-container, .patient-container, .veto-container, .annuaire-container, .organigramme-container, .historique-container, .iso-container, .contact-container{ 
    width: 100%;
    height: auto;
    /* height: 55vh;
    width: 100vw auto; */
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/*reduction de la taille du titre suivant la taille de l'ecran*/
.titre-departement{
    font-size: clamp(1.9rem,2.5vw,3rem) 
}

.sous-titre-departement{
    font-size: 26px;
    /* margin: 10px; */
}

/* image picto des départements*/
.picto{ 
    height: 100px;
    width: 100px;
    
}

/* Réglage responsive */
@media(max-width: 700px){ 
    .sous-titre-departement{
    display:none;
    
    }
    .titre-departement{
        margin: 2em;
    }
    .logo-accueil{
        width: 150px;
        height: 150px;
    }
}

.logo-accueil{
    width: 250px;
    height: 250px;
}

/* Cercle de présentation sur la page d'accueil*/

.block {
    text-align: center;
    vertical-align: middle;
}
.circle {
    background: linear-gradient(145deg, #003EC5, #002677);
border-radius: 100%;
box-shadow: inset 6.61px 6.61px 16px #00277B, inset -6.61px -6.61px 16px #003DC1;
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
    display: table;
    margin: 20px auto;
}

.circle h2{
    margin-top: 25%;
}

.circle p {
    vertical-align: middle;
    display: table-cell;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.circle a{
    text-decoration: none;
    color: white;
}