/* CSS DES INFORMATIONS SUR L ENTREPRISE EN HAUT DU MENU (horaire adresse ...) */


.info{
    width: 100vw auto;
    height: 6em;
    background-color: #dfeaf8;
    color: #0032a0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: clamp(0.6rem,2.5vw,0.8rem);
    
}

.sous-bloc1, .sous-bloc2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}


@media(max-width: 1084px){

    .info{
        display: block;
        height:11em;
        justify-content: flex-start;
    } 
 }

 @media(max-width: 660px){
    .info{
        height:13em;
    }
 }
 @media(max-width: 644px){
    .info{
        height:12em;
        justify-content: flex-start;
    }
 }

 @media(max-width: 350px){
    .info{
        height:13vh;
        
    }
 }