{% extends 'base.html.twig' %}

{% block title %}Pharmaceuticals - Prophac{% endblock %}

{% block illustration %}
    <div class="departement pharma-container">
        <h1 class="titre-departement">PHARMACEUTICALS</h1>
        <p class="sous-titre-departement">
            Partenaire de l’industrie pharmaceutique au Grand-Duché de Luxembourg.
        </p>
        <img class="picto" src="{{asset('assets/img/Picto_Pharma_demi-tons_rgb.png')}}" alt="Picto PHARMACEUTICALS" />
  </div>
{% endblock %}

{% block body %}
<a href="{{path('app_pharma.annuaire')}}">Annuaire pharma</a>
  <!--sous titre-->
    <div class="container titre-section">Partenaires</div>
    {{ dump(partenaires) }}
{% endblock %}